{%extends "layout.html"%}

{%block content%}
      <header>
        <h1>Eliptical Curves</h1>
        <p>🚀 Welcome to my website!</p>
      </header>


      <blockquote>
        <p>Mathematician/Statician<br>
           Python, Javascript, HTML, CSS<br>
           Data Visualisation and Data Science</p>
        
      </blockquote>
      <section>
        <h2>📜 Portfolio </h2>
        <h3><a class="nav-link active" href="/Dashapp" target="_blank">Dash App (click me)</a></h3>
          <h4>Youtube thumbnail and title data visualisation</h4>
        <p>
          Dash app built using the youtube API to retrieve the top youtube thumbnail,
          do some data analysis on the images (multidimensional scaling) 
          and display/plot results to help mood board video ideas. This was made
          in python using plotly and dash along with some data analysis algorithms
          from sci kit learn and tensorflow. I plan to make it better by having better by 
          having more efficient data analysis and better visualisation.
        </p>

        <p>
          <h3><a class="nav-link active" href="https://youtu.be/0bnXAtT1YbM" target="_blank"> Youtube video 
            - Summer of maths exposition </a></h3>
          I made a youtube video for summer of mathematics exposition challenge by 3blue1brown. 
          This video explains an algorithm known as multidimensional scaling which basically 
          makes higher dimensional data fit into 2D or 3D space by looking at the variables that
          contribute most to the variance. This video was animated using manim, a python library by 3b1b. 
          (Note:The channel name is with 1 L elipticalcurves. )
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

      </section>

      <section class="light">
        <h2>👩🏽‍🚀 Projects</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <h2>🏆 Accomplishments</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

      </section>

      <blockquote>
        <p>The best way out is always through <br>-Robert Frost</p>
      </blockquote>

      <section class="left">
        <h2>🌮 Work History</h2>

        <h3>McDonalds</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <h3>Burger King</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <h3>Taco Bell</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

      </section>

      <blockquote>
        <p>Thanks for watching!</p>
      </blockquote>
{%endblock content%}

{%block scene%}
<script type="importmap">
  {
    "imports": {
      "three": "https://unpkg.com/three@0.141.0/build/three.module.js"
  }
}
  </script>
<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
{%endblock scene%}